* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#chatBox {
    top: 0;
    width: 100%;
    height: calc(92vh - 2.5rem);
    overflow-y: scroll;
}

#form {
    display: flex;
}

input {
    flex-grow: 3;
    color: white;
}

button {
    flex-grow: 1;
}

.left:first-child {
    float: left;
    clear: both;
    padding: 0.5em 1em;
    border-radius: 0 1em 1em 1rem;
    max-width: 90%;
    margin: 0.25% 0 0.5% 1%;
}

.right:first-child {
    text-align: right;
    float: right;
    clear: both;
    color: white;
    background-color: #275f85;
    padding: 0.5em 1em;
    border-radius: 1em 0 1em 1rem;
    max-width: 90%;
    margin: 0.5% 1% 0.5% 0;
}

.left {
    float: left;
    clear: both;
    background-color: #d3d3d3;
    padding: 0.5em 1em;
    border-radius: 0 1em 1em 1rem;
    max-width: 90%;
    margin: 0% 0 0.5% 1%;
}

.right {
    text-align: right;
    float: right;
    clear: both;
    color: white;
    background-color: #275f85;
    padding: 0.5em 1em;
    border-radius: 1em 0 1em 1rem;
    max-width: 90%;
    margin: 0% 1% 0.5% 0;
}

input[type=text]:valid, nav .input-field input[type=password]:valid, nav .input-field input[type=email]:valid, nav .input-field input[type=url]:valid, nav .input-field input[type=date]:valid {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn, .file-field .btn-large, .file-field .btn-small {
    float: left;
    height: 3rem;
    line-height: 3rem
}

.file-field span {
    cursor: pointer
}

.btn {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent
}

.btn.disabled, .btn:disabled, .btn[disabled] {
    pointer-events: none;
    background-color: #DFDFDF !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #9F9F9F !important;
    cursor: default
}

.btn.disabled:hover, .btn:disabled:hover, .btn[disabled]:hover {
    background-color: #DFDFDF !important;
    color: #9F9F9F !important
}

.btn {
    font-size: 14px;
    outline: 0
}

.btn i {
    font-size: 1.3rem;
    line-height: inherit
}

.btn:focus {
    background-color: #1d7d74
}

.btn {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer
}

.btn:hover {
    background-color: #2bbbad
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
    transform: scale(0);
    pointer-events: none
}

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none
}

.waves-effect .waves-ripple {
    z-index: -1
}

.btn {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
}

.btn, .file-field .btn-large, .file-field .btn-small {
    float: left;
    height: 3rem;
    line-height: 3rem
}

.btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
    margin: 6px 0
}

input[type=text]:not(.browser-default), textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s
}

.lefth7 {
    text-decoration: underline;
    font-style: italic;
}

.righth7 {
    text-align: right;
    text-decoration: underline;
    font-style: italic;
}

.blue-grey {
    background-color: #37474f;
}

.darken-2 {
    background-color: #4a5b63;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

select {
    border: none;
    padding: 0.4rem;
    border-radius: 10000px;
}

.material-icons {
    color: white;
    padding: 0.2rem 0.7rem;
}

body {
    top: 0px !important;
}

#trans {
    width: 100%;
    padding: 0.2rem 0.3rem;
    display: flex;
    outline: 1px solid white;
}

.goog-te-gadget .goog-te-combo {
    margin: 0;
}